config.py
app/__pycache__/ienergy.cpython-311.pyc
app/__pycache__/imain.cpython-311.pyc
app/__pycache__/iprinter.cpython-311.pyc
.gitignore
app/__pycache__/isetter.cpython-311.pyc
app/__pycache__/isolver.cpython-311.pyc
app/__pycache__/ienergy.cpython-310.pyc
.gitignore
app/__pycache__/proccessor.cpython-311.pyc
app/__pycache__/proccessor.cpython-310.pyc
app/__pycache__/proccessor.cpython-310.pyc
.gitignore
app/__pycache__/isetter.cpython-310.pyc
app/__pycache__/iprinter.cpython-310.pyc
app/__pycache__/imain.cpython-310.pyc
app/__pycache__/ienergy.cpython-310.pyc
