<!DOCTYPE html>
<html>
<head>
  <title>Metrics app: nodes</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>

    <!--SET A NODE-->
    <div class="container">
        
        <form id="object-form" action="/add_new_node" method="post" class="p-3 mb-2 bg-light">
            <h1>Set the nodes</h1>
            <div class="row"> 
                <div class="col-md-4">
                    <label for="name">Name of node</label><br>
                    <input type="text" id="name" name="name" value="name"><br><br>

                    <label for="cpu">CPU (cycles per second)</label><br>
                    <input type="number" id="cpu" name="cpu" value=10000000><br><br>
                    
                    <label for="bwup">Bandwidth up (bits/s)</label><br>
                    <input type="number" id="bwup" name="bwup" value=150000000><br><br>
                    
                    <label for="pwup">Power Upload (Ptx)</label><br>
                    <input type="number" id="pwup" name="pwup" value=0.3><br><br>
            
                    <label for="maxenergy"> Maximum energy consumption (Watts)</label><br>
                    <input type="number" id="maxenergy" name="maxenergy" value=75><br><br>
            
                    <label for="ram"> RAM (Mb)</label><br>
                    <input type="number" id="ram" name="ram" value=2000><br><br>

                </div>
                <div class="col-md-4">

                    <label for="importance"> Importance of saving energy in nodes <br>(real between 0 and 1). </label><br>
                    <input type="number" id="importance" name="importance" value=1><br><br>

                    <label for="pwdown"> Power Download (Prx)</label><br>
                    <input type="number" id="pwdown" name="pwdown" value=0.7><br><br>

                    <label for="bwdown"> Bandwidth Down (bits/s)</label><br>
                    <input type="number" id="bwdown" name="bwdown" value=150000000><br><br>
                    
                    <!-- Checkbox sensingunits -->
                    <div class="container">
                        <label for="sensingunits"> Sensing units (e.g., thermomether), '' if any  (bits/s)</label><br>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="thermometer" name="sensingunit" value="thermometer">
                            <label class="form-check-label" for="thermometer">Thermometer</label>
                        </div>
                        <input type="hidden" id="sensingunits" name="sensingunits" value="" readonly>
                    </div>

                    <!-- Checkbox peripherials -->
                    <div class="container">
                        <label for="peripherials">Peripherals (e.g., GPU), '' if any</label><br>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="camera" name="peripherial" value="camera">
                            <label class="form-check-label" for="camera">Camera</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="gpu" name="peripherial" value="gpu">
                            <label class="form-check-label" for="gpu">GPU</label>
                        </div>
                        <input type="hidden" class="text" id="peripherials" name="peripherials" value="" readonly>
                    </div>

                </div>

                <div class="col-md-4">
                    
                    <label for="typecore">Type (e.g., sensing mote)</label><br>
                    <input type="text" id="typecore" name="typecore" value="computing"><br><br>

                    <label for="owner">Owner (e,g., CAOSD group)</label><br>
                    <input type="text" id="owner" name="owner" value="public"><br><br>
                    
                    <label for="comcap">Communication capacities (e.g., wlan)</label><br>
                    <input type="text" id="comcap" name="comcap" value="wlan"><br><br>

                    <label for="cores">Number of cores</label><br>
                    <input type="number" id="cores" name="cores" value=2><br><br>

                    <label for="percnormal">Percentage of idle energy consumption</label><br>
                    <input type="number" id="percnormal" name="percnormal" value=30><br><br>

                    <label for="percsleeping">Percentage of energy consumption in sleeping mode</label><br>
                    <input type="number" id="percsleeping" name="percsleeping" value=0.01><br><br>
                </div> 
                <input type="submit" value="Submit">
            </div>
           
        </form>

         <!--SEE NODES LIST-->
         <div class="node-list">
            <h2>Nodes list:</h2>
            <ol>
                {% for node in nodes_list %}
                    <li class="node-item">
                        <div class="list-item-container">
                            <div class="node-text">{{ node }}</div>
                            <form class="delete-form" action="/delete_node" method="post">
                                <input type="hidden" name="index" value="{{ loop.index0 }}">
                                <input type="submit" value="Delete">
                            </form>
                        </div>
                    </li>
                    <br>
                {% endfor %}
            </ol>
        </div>

    </div>

    <div class="container">
        <a class="button left-button" href="{{ url_for('index') }}">back</a>
        <a class="button right-button" href="{{ url_for('loadTasksTemplate') }}">next</a>
    </div>

    <script>
        function actualizarListas(nombreCampo, nombreCheckbox) {
            var elementos = [];
            var checkboxes = document.querySelectorAll('input[name="' + nombreCheckbox + '"]:checked');
            checkboxes.forEach(function(checkbox) {
                elementos.push(checkbox.value);
            });
            // Actualizar el campo de texto con la lista de elementos seleccionados separados por comas
            document.getElementById(nombreCampo).value = elementos.join(', ');
        }
    
        // Agregar un evento para ambas categorías de checkboxes
        var checkboxes = document.querySelectorAll('input[name="sensingunit"], input[name="peripherial"]');
        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                if (this.name === 'sensingunit') {
                    actualizarListas('sensingunits', 'sensingunit');
                } else if (this.name === 'peripherial') {
                    actualizarListas('peripherials', 'peripherial');
                }
            });
        });
    
        // Llamar a actualizarListas inicialmente para asegurarse de que los campos de texto se llenen correctamente si se seleccionan elementos por defecto
        actualizarListas('sensingunits', 'sensingunit');
        actualizarListas('peripherials', 'peripherial');
        
    </script>  
    
</body>
</html>