<!DOCTYPE html>
<html>
<head>
  <title>Metrics app</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
  

</head>
<body>

    <!--SET A TASK-->
    <div class="container">
        <h1>Set the tasks</h1>

        <form action="/add_new_task" method="post">

            <label for="taskname">Task name</label><br>
            <input type="text" id="taskname" name="taskname" value="name"><br><br>

            <div class="form-row">
            <div class="form-column">

                <label for="cpucycles">CPU cycles</label><br>
                <input type="number" id="cpucycles" name="cpucycles" value="150000"><br><br>

                <label for="ram">RAM required (mb)</label><br>
                <input type="number" id="ram" name="ram" value="150"><br><br>

                <label for="user">User</label><br>
                <input type="number" id="user" name="user" value="0"><br><br>
                
                <label for="mintransm">Minimal transmission (e.g., for video streaming in a specific quality) </label><br>
                <input type="number" id="mintransm" name="mintransm" value="0"><br><br>
        
                <label for="sensreq">Sensing requirements (e.g., thermometer)</label><br>
                <input type="text" id="sensreq" name="sensreq" value=""><br><br>

                
            </div>
            <div class="form-column">

                <label for="periphreq">Peripheral requirements (e.g., camera, GPU)</label><br>
                <input type="text" id="periphreq" name="periphreq" value=""><br><br>

                <label for="transmit">Transmit</label><br>
                <input type="text" id="transmit" name="transmit" value=""><br><br>

                <label for="exlocation">Exact location (in case the app is located in a specific place; e.g., dispatch 4.1) </label><br>
                <input type="text" id="exlocation" name="exlocation" value="none"><br><br>

                <label for="tasktype">Type (e.g., sensing mote)</label><br>
                <input type="text" id="tasktype" name="tasktype" value="computing"><br><br>

                <label for="disk">Disk required (Mb)</label><br>
                <input type="number" id="disk" name="disk" value="100"><br><br>
                
            </div>
            </div>
            
            <input type="submit" value="Save">
        </form>

         <!--SEE TASK LIST-->
        
        <h2>Tasks list:</h2>
        <ol>
            {% for task in tasks_list %}
                <li class="task-item">
                    <div class="task-text">{{ task }}</div>
                    <form class="delete-form" action="/delete_task" method="post">
                        <input type="hidden" name="index" value="{{ loop.index0 }}">
                        <input type="submit" value="Delete">
                    </form>
                </li>
                <br>
            {% endfor %}
        </ol>
    

    </div>

    <div class="container">
        <a class="button left-button" href="{{ url_for('getNodesFromParameters') }}">back</a>
        <a class="button right-button" href="{{ url_for('printValues') }}">next</a>
    </div>
    
</body>
</html>