<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metrics to Energy app</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>

  <body>
   
    <div class="container">
      <h1>Metrics to energy assignment</h1>
      This app performs optimal assignments based on a collection of nodes and tasks. <br>
      You can input these tasks either manually into text fields, upload them as a file, or track them from a Kubernetes cluster.<br>
      For documentation, please refer to <a href="https://www.notion.so/App-extracci-n-m-tricas-d22fa3cc91144a13990b0b779ed9966d?pvs=4" target="_blank">this link.</a>
    </div>
      
    <div class="container">
      <h2>Actions</h2>
      <a class="button left-button" href="{{ url_for('loadNodesTemplate') }}">Get from parameters</a>
      <a class="button center-button" href="{{ url_for('readFile') }}">Get from file</a>
      <a class="button right-button" href="{{ url_for('readFile') }}disabled"><s>Get from Cluster</s></a>
    </div>

    <hr>

    <div class="container">
      <h2>External apps</h2>
      <a class="button" style="background-color: rgb(225, 127, 0)" href="http://192.168.1.27:3000/d/160c00ed-36dc-400e-b39d-70ed1e3d2883/osm-k8s-metrics-microk8s-cluster?orgId=1&from=now-12h&to=now&var-cluster=&var-namespace=default&var-pod=feature-communicator-nautic-c9888d4-xlbv2&var-pod=filter-selector-nautic-76dcfd74-62h2r&var-pod=galaxy-tracker-nautic-59897556df-h7n4p&var-pod=planet-tracker-nautic-7556b78956-vbc28&var-pod=video-capturer-nautic-797d7f9c66-bm86j" target="_blank">Grafana</a>
      <!-- <iframe src="http://192.168.1.27:3000/d/160c00ed-36dc-400e-b39d-70ed1e3d2883/osm-k8s-metrics-microk8s-cluster?orgId=1&from=1694687347563&to=1694689147563&viewPanel=1" width="100%" height="500"></iframe> -->
      <a class="button" style="background-color: blueviolet" href="http://192.168.1.27" target="_blank">OSM</a>
      <a class="button" style="background-color: rgb(255, 100, 0)" href="http://192.168.1.21:30000" target="_blank">Prometheus</a>
      
    </div>
    <iframe src="http://192.168.1.27" width="100%" height="500"></iframe>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>

</html>