<!DOCTYPE html>
<html>
<head>
    <title>Metrics app: print results</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script>
        var resultData = `{{ result | tojson | safe }}`;
    </script>
    <script src="{{url_for('static', filename='js/fileSaver.js')}}"></script>    
    

</head>
<body>
    <h1>Result</h1>
    <pre>{{ result }}</pre>

    <div class="container">
        <button class="button" id="save-button" onclick='saveAllFile()'>Save this output</button>
        <button class="button" id="save-button" onclick='savePDF()'>Save this on PDF</button>
        <button class="button" id="save-button" onclick="saveConfig('{{ nodes }}', '{{ tasks}}')">Save configuration only</button>
        <button class="button" id="save-button" onclick="saveAssignmentFile()">Save assignment only</button>
        <button class="button" id="save-button" onclick="saveConfigAndAssignmentFile('{{ nodes }}', '{{ tasks}}')">Save configuration and assignment</button>
    </div>


    <div class="container">
        <a class="button left-button" href="{{ url_for(determine_back_route()) }}">back</a>
        <a class="button right-button" href="{{ url_for('index') }}">restart</a>
    </div>
</body>
</html>
