<!DOCTYPE html>
<html>
<head>
  <title>Metrics app: read file</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
</head>
<body>
  <div class="container">
    <h1>Read File</h1>
    <form action="{{ url_for('processAndPrint') }}" method="post" enctype="multipart/form-data">
      <label for="file_input">Select a file:</label>
      <input type="file" id="file_input" name="file_input">
      <a class="button left-button" href="{{ url_for('index') }}">Back</a>
      <input type="submit" class="button right-button" value="Upload and Process">
    </form>
  </div>
</body>
</html>