<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Metrics app: read file</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h1>Read File</h1>
    <form action="{{ url_for('processAndPrint') }}" method="post" enctype="multipart/form-data">
      <label for="file_input">Select a file:</label>
      <input type="file" id="file_input" name="file_input">
      <br>
      <a class="button left-button" href="{{ url_for('index') }}">Back</a>
      <input type="submit" class="button right-button" value="Upload and Process">
    </form>
  </div>
</body>
</html>